.orderedProduct {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .imageContainer {

        .img {
            flex: 1;
            display: flex;
            max-width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
    }
}

.cell {
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    word-break: break-word;

    &:first-child {
        border-left: 1px solid white;
    }

    &:last-child {
        border-right: 1px solid white;
        border-left: 1px solid white;

    }

}

@media (max-width: 935px) {

    .cell {
        font-size: 14px;
    }
}

@media (max-width: 824px) {
    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 27px;
                width: 20px;
            }

            input {
                width: 30px;
                height: 17px;
                font-size: 13px;
            }
        }
    }

    .cell {
        font-size: 12px;
    }
}

@media (max-width: 703px) {

    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 30px;
                width: 20px;
            }

            input {

                font-size: 11px;
            }
        }
    }

    .cell {
        font-size: 10px;
    }
}


@media (max-width: 475px) {

    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 22px;
                width: 15px;
                left: 0;
                right: 0;
            }

            input {
                width: 22px;
                height: 14px;
                font-size: 10px;
            }
        }
    }

    .cell {
        font-size: 10px;
    }
}

@media (min-width: 1100px) {
    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 62px;
                width: 55px;

            }

            input {
                width: 70px;
                height: 55px;
                font-size: 22px;
            }
        }
    }

    .cell {
        font-size: 22px;
    }
}