.summaryHeader {
    flex: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    font-size: 14px;
    border: 2px solid white;

    .title {
        display: flex;
        width: 20%;
        white-space: nowrap;
        justify-content: center;
    }

}

.orderedProductsContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 515px) {
    .summaryHeader {
        gap: 8%;
    }
}

@media (max-width: 397px) {
    .summaryHeader {
        gap: 5%;
        font-size: 10px;
    }
}