.orderSummaryContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 37, 42);
    font-family: 'Inter', sans-serif;
    top: 80px;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: calc(100% - 80px);
    overflow-y: visible;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 60px;
    color: white;

    .productsToOrderContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        box-sizing: border-box;
        padding-top: 5%;
    }

    .orderedProducts {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        box-sizing: border-box;
        padding-top: 5%;
        height: 100%;
    }

    .orderSummary {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .shipDetForm {
        margin-top: 120px;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        box-sizing: border-box;
    }

    .optionsContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        box-sizing: border-box;

        .paymentContainer {
            flex: 1;
            display: flex;
            width: 100%;
            padding-top: 5%;
            box-sizing: border-box;
            justify-content: center;
        }
    }

    .OrderNowBtn {
        width: 30%;
        margin: 5%;
        align-self: center;
        cursor: not-allowed;

        button {
            opacity: 65%;
            width: 100%;
            font-size: 20px;
            border-radius: 10px;
            border: solid 2px transparent;
            pointer-events: none;
        }

        &.formValid {

            button {
                opacity: 100%;
                pointer-events: all;
                cursor: pointer;
                border: solid 2px rgb(0, 173, 179);
                color: white;
                background-color: rgb(6, 37, 42);

                &:hover {
                    opacity: 100%;
                    color: rgb(0, 173, 179);
                }

                &:active {
                    border-color: rgb(0, 255, 0);
                    color: rgb(0, 255, 0);
                }
            }
        }
    }
}

@media (max-width: 824px) {
    .shippDetContainer {
        label {
            font-size: 16px;
        }

        input {
            font-size: 12px;
        }

        .errorMsg {
            font-size: 10px;
        }
    }
}

@media (max-width: 703px) {
    .shippDetContainer {
        label {
            font-size: 14px;
        }

        input {
            font-size: 10px;
        }

        .errorMsg {
            font-size: 10px;
        }
    }
}

@media(min-width: 1500px) {
    .orderSummaryContainer {
        .productsToOrderContainer {
            width: 50%;
        }

        .orderSummary {
            width: 50%;
        }

        .shipDetForm {
            width: 50%;
        }

        .optionsContainer {
            width: 50%;
        }

        .orderedProducts {
            width: 50%;
        }
    }
}