.productsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 3500px) {
    .productsContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 4500px) {
    .productsContainer {
        padding-left: 15%;
        padding-right: 15%;
    }
}