.registerContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 37, 42);
    font-family: 'Inter', sans-serif;
    top: 80px;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: visible;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 60px;

    .registerForm {
        margin-top: 5%;
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .loginLink {
        padding: 1%;
        color: white;
        font-size: 16px;
        margin-bottom: 5px;
        max-width: 40%;

        a {
            color: rgb(111, 255, 0);
            text-decoration: none;

            &:hover {
                color: rgb(25, 0, 255);
            }
        }
    }

    .registerButton {
        align-self: center;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        width: 15%;
        cursor: not-allowed;

        button {
            opacity: 65%;
            width: 100%;
            font-size: 20px;
            border-radius: 10px;
            border: solid 2px transparent;
            pointer-events: none;
        }

        &.formValid {

            button {
                opacity: 100%;
                pointer-events: all;
                cursor: pointer;
                border: solid 2px rgb(111, 255, 0);
                color: rgb(111, 255, 0);
                background-color: black;


                &:hover {
                    opacity: 100%;
                }

                &:active {
                    background-color: green;
                    opacity: 100%;
                }
            }
        }
    }
}

.summaryConatiner {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 37, 42);
    font-family: 'Inter', sans-serif;
    top: 80px;
    align-items: center;
    width: 70%;
    height: calc(100% - 80px);
    font-size: 24px;
    box-sizing: border-box;
    padding-bottom: 60px;

    .summaryContent {
        color: white;
        margin-top: 120px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        border: 1px solid rgb(111, 255, 0);
        padding: 25px;

        p {
            margin-top: -10px
        }

        a {
            color: rgb(111, 255, 0);
            text-decoration: none;
            margin-top: 10px;

            &:hover {
                color: rgb(25, 0, 255);
            }
        }
    }
}

@media(max-width: 850px) {
    .registerContainer {
        .loginLink {
            font-size: 14px;
            max-width: 40%;
        }

        .registerButton {
            button {
                font-size: 15px;
                width: 100%;
            }
        }
    }

    .summaryConatiner {
        font-size: 20px;
    }
}

@media(max-width: 690px) {
    .registerContainer {
        .loginLink {
            font-size: 12px;
            max-width: 50%;
        }

        .registerButton {
            button {
                font-size: 12px;
                width: 100%;
            }
        }
    }

    .summaryConatiner {
        font-size: 15px;
    }
}

@media(max-width: 520px) {
    .registerContainer {
        .loginLink {
            font-size: 10px;
            max-width: 65%;
        }

        .registerButton {
            button {
                font-size: 10px;
            }
        }
    }

    .summaryConatiner {
        font-size: 12px;
    }
}