.loginContainer {
    display: flex;
    flex: 1; 
    position: relative;
    top: 80px;
    justify-content: center;
    color: white; //move to form
    background-color: rgb(6, 37, 42);
    font-family: 'Inter', sans-serif;

}