.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .optionsBar {
        width: 2%;
        display: flex;
        flex-direction: column;
        background-color: aqua;
        height: 100%;
        margin-top: 80px;
        
        
        .optionsCartSection {
            flex: 1;
            display: flex;

            align-items: center;
            justify-content: center;
            background-color: aqua;
            align-items: center;
            
        }

        .optionsFiltersSection {
            flex: 1;
            background-color: yellow;

        }
    }

    .cartContainer {
        flex: 10;
        background-color: gray;
        border: 2px solid black;
        transition: width 0.3s ease;
        overflow: hidden;

        .cartContent {
            margin-top: 45%;

            display: flex;
            flex-direction: column;
            background-color: blue;
            max-height: 30%;
            overflow-y: auto;
        }


    }

    .productsContainer {
        flex: 20;
        background-color: gray;
        transition: flex-grow 0.3s ease;

    }
}

// @media (max-width: 768px) {
//     .mainContainer {
//         .optionsBar {}
//     }
// }