.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    background-color: rgb(6, 37, 42);
    overflow: hidden;
    box-sizing: border-box;

    .optionsBar {
        background-color: white;
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 5%;
        align-items: center;
        justify-content: flex-start;
        z-index: 1003;
        box-shadow: 4% 0px 4% rgba(192, 192, 192, 0.7);
        gap: 0.8%;

        .showCartButton,
        .showFiltersButton {
            width: 80%;
            height: 5%;
            top: 4%;
            display: flex;
            position: relative;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 4% 0.4vw rgba(0, 0, 0, 0.1);
            align-items: center;
            justify-content: center;
            opacity: 50%;
            color: rgb(6, 37, 42);

            &:hover {
                opacity: 100%;
                color: rgb(6, 37, 42);
                box-shadow: 0 0 4% 4% rgba(9, 255, 0, 0.15);
            }

            &.optionBarOpen {
                opacity: 100%;
            }

            &.optionBarOpen:hover {
                box-shadow: 0 0 4% 4% rgba(255, 0, 0, 0.1);
            }

            .filtersLogo,
            .cartLogo {
                font-size: 58px;
            }
        }

        .closeLogo {
            margin-bottom: 60%;
            font-size: 35px;
            color: red;
        }
    }

    .cartAndFiltersContainer {
        position: absolute;
        height: calc(100% - 80px);
        top: 80px;
        left: 5%;
        flex-direction: column;
        z-index: 1001;
        background-color: #cdf6f6;
        overflow-y: hidden;
        overflow-x: hidden;
        visibility: hidden;
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out, visibility 0.3s ease-in-out;
        background-color: rgb(6, 37, 42);
        box-shadow: 4% 0px 4% rgba(192, 192, 192, 0.7);
        display: none;

        .closeButton {
            background-color: inherit;
            display: flex;
            position: absolute;
            z-index: 1004;
            right: 5%;
            top: 1%;
            visibility: hidden;

            .closeButtonLogo {
                font-size: 25px;
                opacity: 50%;
                position: fixed;

                &:hover {
                    opacity: 100%;
                    color: red;
                }
            }

            .optionOpen {
                visibility: visible;
            }
        }

        .cartHeader {
            display: flex;
            flex-direction: row;
            font-family: 'Inter', sans-serif;
            background-color: white;
            z-index: 1003;
            min-height: 8%;
            box-shadow: 0 3% 3% rgba(255, 255, 255, 0.2);
            visibility: hidden;

            .cartHeaderContent {
                display: flex;
                flex: 1;
                font-size: 25px;
                justify-content: center;
                align-items: center;
            }
        }

        .cartContent {
            align-items: center;
            top: 8%;
            flex-direction: column;
            background-color: rgb(6, 37, 42);
            overflow-y: scroll;
            bottom: 4.5%;
            gap: 2%;
            visibility: hidden;
            display: none; 
            width: 96%;
            min-height: 88%;
        }

        .filtersContent{
            visibility: hidden;

        }
        .cartFooter {
            display: flex;
            font-family: 'Inter', sans-serif;
            background-color: white;
            width: 100%;
            visibility: hidden;
            position: absolute;
            bottom: 0%;
            z-index: 1003;

            button {
                padding: 1%;
                justify-content: center;
                align-items: center;
                width: 100%;
                display: flex;
                height: 100%;
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                border: 1px solid transparent;
                opacity: 65%;
                background: none;
                cursor: pointer;

                &:hover {
                    opacity: 100%;
                    border: 1px solid rgb(0, 255, 76);
                }
            }

            &.empty {
                button {
                    color: grey;
                    pointer-events: none;

                    &:hover {
                        opacity: 65%;
                    }
                }
            }
        }

        &.cartContentOpen {
            visibility: visible;
            width: 36%;
            display: flex;

            .cartContent {
                visibility: visible;
                padding: 2%;
                height: auto;
                display: flex;

            }

            .filtersContent {
                visibility: hidden;
            }
        }

        &.filtersContentOpen {
            overflow-y: auto;
            visibility: visible;
            width: 36%;
            display: flex;

            .cartContent {
                visibility: hidden;
                display: none;

            }

            .filtersContent {
                visibility: visible;
            }
        }

        &.cartContentOpen,
        .filtersContentOpen {
            .closeButton {
                visibility: visible;
                display: flex;
                background: none;
                border: none;
                cursor: pointer;
                color: black;
            }

            .cartHeader {
                visibility: visible;
            }

            .cartFooter {
                visibility: visible;
            }
        }
    }

    .searchAndProductWrapper {
        display: flex;
        flex: 1;
        position: relative;
        flex-direction: column;
        top: 80px;
        left: 5%;
        transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
        align-items: center;
        .searchBar {
            color: black;
            display: flex;
            position: absolute;
            background-color: white;
            z-index: 902;
            height: 5%;
            width: 60%;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;
            font-size: 24px;
            box-shadow: 0 4% 4% rgba(0, 0, 0, 0.5);
            transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
            background-color: gray;
            border-radius: 20%;
         

            &.leftBarOpen {
                left: 43.5%;
                width: 45%;
            }
        }

        .productsContainer {
            flex-direction: column;
            background-color: rgb(6, 37, 42);
            width: 95%;
            height: calc(95% - 80px);
            overflow-y: visible;
            overflow-x: auto;
            position: absolute;
            transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
            padding: 2%;
            box-sizing: border-box;
            top: 5%;

            &.leftBarOpen {
                left: 36%;
                width: 59%;
            }
        }
    }
}

@media (min-width: 2400px) {
    .mainContainer {
        .cartAndFiltersContainer {
            .closeButton {
                right: 8%;
            }

            .cartHeader {
                .cartHeaderContent {
                    font-size: 23px;
                }
            }

            .cartFooter {
                button {
                    font-size: 26px;
                    padding: 5%;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .mainContainer {
        .cartAndFiltersContainer {
            .closeButton {
                right: 8%;
            }

            .cartHeader {
                .cartHeaderContent {
                    font-size: 21px;
                }
            }

            .cartFooter {
                button {
                    font-size: 24px;
                    padding: 3%;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .mainContainer {
        .optionsBar {
            gap: 0.2%;
        }

        .cartAndFiltersContainer {
            &.cartContentOpen {
                width: 85%;
            }

            .closeButton {
                .closeButtonLogo {
                    right: 12%;
                    font-size: 12px;

                }
            }

            &.filtersContentOpen {
                width: 85%;
            }

            .cartHeader {
                .cartHeaderContent {
                    font-size: 12px;
                }
            }

            .cartFooter {
                button {
                    bottom: 0%;
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .mainContainer {
        .optionsBar {
            gap: 0%;
            width: 8%;
        }

        .cartAndFiltersContainer {
            left: 8%;
        }
    }
}

@media (max-width: 300px) {
    .mainContainer {
        .cartAndFiltersContainer {
            left: 8%;

            .closeButton {
                .closeButtonLogo {
                    right: 7%;
                    font-size: 15px;

                }
            }

            .cartHeader {
                .cartHeaderContent {
                    margin-right: 5%;
                    font-size: 5px;
                }
            }
        }
    }
}



@media (max-height: 400px) {
    .mainContainer {


        .cartAndFiltersContainer {
            .closeButton {
                .closeButtonLogo {
                    font-size: 18px;
                }
            }

            .cartHeader {
                height: 18%;

                .cartHeaderContent {

                    font-size: 14px;

                }
            }
        }
    }
}

@media (max-height: 320px) {
    .mainContainer {
        .optionsBar {

            .showCartButton,
            .showFiltersButton {
                top: 12%;
            }
        }

        .cartAndFiltersContainer {
            .closeButton {
                .closeButtonLogo {
                    font-size: 12px;
                }
            }

            .cartHeader {
                min-height: 16%;

                .cartHeaderContent {
                    font-size: 12px;
                }
            }

            .cartContent {
                min-height: 80%;
            }


        }
    }
}

@media (max-height: 750px) {
    .mainContainer {
        .cartAndFiltersContainer {
            .closeButton {
                .closeButtonLogo {
                    font-size: 12px;
                }
            }

            .cartHeader {
                height: 22%;

                .cartHeaderContent {
                    font-size: 12px;
                }
            }


        }
    }
}