.mainContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 80px;
    background-color: aqua;

    .optionsCartSection {
        background-color: pink;
        width: 50px;
        height: 50px;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 50%;
        cursor: pointer;

        .cartLogo {
            display: flex;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .optionsFiltersSection {
        background-color: yellow;
        width: 50px;
        height: 50px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 50%;
        margin-top: 60px;
        cursor: pointer;
    }

    .cartFiltersContainer {
        flex: 3;
        width: 100%;
        display: flex;
        background-color: gray;
        border: 2px solid black;
        flex-direction: column;
        transition: flex 0.3s ease-in-out;

        &.closed {
            flex: 0;
            overflow: hidden;
        }

        .cartContent, .filtersContent {
            flex-direction: column;
            background-color: blue;
            overflow-y: auto;
            overflow-x: hidden;
            flex: 1;
            border-bottom: 2px solid black;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
        }

        .cartContent.hidden, .filtersContent.hidden {
            opacity: 0;
            visibility: hidden;
        }

        .filtersContent {
            background-color: orange;
        }
    }
    
    .productsContainer {
        flex: 8;
        background-color: gray;
        transition: flex 0.3s ease-in-out;

        &.cartOpen {
            flex: 6;
        }

        &.cartCollapsed {
            flex: 10;
        }
    }
}
