.productContainer {
    display: flex;
    position: relative;
    background-color: rgb(51, 51, 51);
    border-radius: 0.7vw;
    height: 9vw;
    border: 1px dotted transparent;

    &:hover {
        box-shadow:
            0 0.4vw 0.4vw rgba(255, 255, 255, 0.6),
            0 -0.4vw 0.4vw rgba(255, 255, 255, 0.6),
            0.4vw 0 0.4vw rgba(255, 255, 255, 0.6),
            -0.4vw 0 0.4vw rgba(255, 255, 255, 0.6);

        .productName {
            color: yellow !important;
            opacity: 80% !important;

            &:hover {
                opacity: 100% !important;
            }
        }
    }

    &:first-child {
        margin-top: 5vw;
    }

    .imageContainer {
        height: 9vw;
        background-color: aqua;
        border-radius: 0.7vw;

        img {
            min-width: 12vw;
            min-height: 9vw;
            max-width: 12vw;
            max-height: 9vw;
            border-top-left-radius: 0.7vw;
            border-bottom-left-radius: 0.7vw;
        }
    }

    .detailsContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 9vw;
        
        .nameContainer {
            height: 3vw;
            display: flex;
            align-items: center;

            .productName {
                margin-left: 1vw;
                font-family: Open Sans, sans-serif;
                flex: 1;
                font-size: 1.7vw;
                font-weight: 400;
                color: white;
                cursor: pointer;
            }
        }

        .infoContainer {
            height: 6vw;
            display: flex;
            flex-direction: row;
            height: 8vw;

            .productPrice {
                margin-left: 1vw;
                display: flex;
                align-items: end;
                width: 40%;
                font-weight: 500;
                font-size: 2.5vw;
                font-family: Roboto, sans-serif;
                color: white;

                .price {
                    margin-right: 0.5vw;
                }
            }


            .quantityContainer {
                width: 30%;
                display: flex;
                align-items: center;

                .quantityLeftArrow,
                .quantityRightArrow {
                    position: relative;
                    font-size: 5vw;
                    cursor: pointer;
                    width: 4vw;
                    height: 4vw;
                    stroke: white;
                    stroke-width: 7px;
                    color: rgb(6, 37, 42);

                    &:hover {
                        stroke: yellow;
                    }
                }

                .quantityLeftArrow {
                    right: -0.5vw;
                    z-index: 900;

                    &:active {
                        stroke: red
                    }
                }

                .quantityRightArrow {
                    left: -0.5vw;
                    z-index: 900;

                    &:active {
                        stroke: rgb(0, 255, 0);
                    }
                }

                input {
                    background-color: rgb(82, 83, 82);
                    width: 6vw;
                    height: 4vw;
                    border-radius: 1vw;
                    font-size: 1.7vw;
                    text-align: center;
                    color: white;
                    background-color: rgb(6, 37, 42);
                    border: 0.1vw solid white;
                    z-index: 1002;
                    cursor: pointer;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    &:focus {
                        border-color: #00ff3c;
                        outline: none;
                    }

                    &:hover {
                        border-color: yellow;
                    }

                    &:hover:focus {
                        border-color: #00ff3c;
                    }
                }
            }

            .addBtnContainer {
                width: 20%;
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    width: 10vw;
                    height: 4vw;
                    background-color: rgb(6, 37, 42);
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.2s ease;
                    border-radius: 1.4vw;
                    color: white;
                    font-size: 1.5vw;
                    border: 0.1vw solid white;
                    cursor: pointer;


                    &:hover {
                        border-color: yellow;
                        outline: none;
                    }

                    &:active {
                        background-color: #5fe27d;
                    }

                    &:focus {
                        outline: none;
                        border-color: #00ff3c;
                    }

                    &:focus:not(:active) {
                        border-color: white;
                    }

                    &:hover:focus {
                        border-color: #00ff3c;
                    }

                    &:hover:focus:not(:active) {
                        border-color: yellow;
                    }
                }
            }
        }
    }
}