.productsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .paginationContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .paginationButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(51, 51, 51);
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px;
        margin: 0 5px;
        cursor: pointer;
        font-size: 20px;
        transition: background-color 0.3s, color 0.3s;


        &:hover:not(:disabled) {
            border-color: rgb(0, 173, 179);
            color: rgb(0, 255, 0);
        }

        &:disabled {
            opacity: 50%;
            cursor: not-allowed;
        }

        &.activePage {
            background-color: rgb(12, 55, 62);
            border-color: rgb(0, 173, 179);
            color: rgb(0, 255, 0);
        }

        svg {
            font-size: 1em;
        }
    }
}

@media (min-width: 3500px) {
    .productsContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 4500px) {
    .productsContainer {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 1200px) {
    .productsContainer {
        .paginationButton {
            font-size: 10px;

            svg {
                font-size: 0.8em;
            }
        }
    }
}

@media (max-width: 400px) {
    .productsContainer {
        overflow-x: visible;

        .paginationButton {
            font-size: 0.4rem;
            svg {
                font-size: 0.6em;
            }
        }
    }
}