.paymentForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .paymentElementContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .payButton {
        width: 30%;
        padding: 5%;

        button {
            opacity: 65%;
            width: 100%;
            font-size: 20px;
            border-radius: 10px;
            border: solid 2px transparent;
        }

        &.formValid {

            button {
                opacity: 100%;
                pointer-events: all;
                cursor: pointer;
                border: solid 2px rgb(111, 255, 0);
                color: rgb(111, 255, 0);
                background-color: black;


                &:hover {
                    opacity: 100%;
                }

                &:active {
                    background-color: green;
                    opacity: 100%;
                }
            }
        }
    }
}