.loginContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 37, 42);
    font-family: 'Inter', sans-serif;
    top: 80px;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: visible;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 60px;

    .loginForm {
        margin-top: 10%;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .registerLink {
        padding: 1%;
        color: white;
        font-size: 16px;
        margin-bottom: 5px;
        max-width: 30%;

        a {
            color: greenyellow;
            text-decoration: none;

            &:hover {
                color: rgb(0, 173, 179);
            }

            &:active {
                color: rgb(0, 255, 0);
            }
        }
    }

    .loginButton {
        align-self: center;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        width: 15%;
        cursor: not-allowed;

        button {
            opacity: 65%;
            width: 100%;
            font-size: 20px;
            border-radius: 10px;
            border: solid 2px transparent;
            pointer-events: none;
        }

        &.formValid {

            button {
                opacity: 100%;
                pointer-events: all;
                cursor: pointer;
                border: solid 2px rgb(0, 173, 179);
                color: white;
                background-color: rgb(6, 37, 42);

                &:hover {
                    opacity: 100%;
                    color: rgb(0, 173, 179);
                }

                &:active {
                    border-color: rgb(0, 255, 0);
                    color: rgb(0, 255, 0);
                }
            }
        }
    }
}


@media(max-width: 850px) {
    .loginContainer {
        .registerLink {
            font-size: 14px;
            max-width: 40%;
        }

        .loginButton {
            button {
                font-size: 15px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 560px) {
    .loginContainer {
        .registerLink {
            font-size: 12px;
            max-width: 50%;
        }

        .loginButton {
            button {
                font-size: 12px;
                width: 100%;
            }
        }
    }
}

@media(max-width: 420px) {
    .loginContainer {
        .registerLink {
            font-size: 10px;
            max-width: 65%;
        }

        .loginButton {
            button {
                font-size: 10px;
            }
        }
    }
}