.orderedProduct {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .imageContainer {

        .img {
            flex: 1;
            display: flex;
            max-width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
    }

    .quantityCell {

        .quantityLeftArrow,
        .quantityRightArrow {
            position: relative;
            cursor: pointer;
            height: 30px;
            width: 20px;
            stroke: rgb(0, 255, 106);
            stroke-width: 15px;
            color: rgb(6, 37, 42);
            white-space: nowrap;

            &:hover {
                stroke: yellow;
            }
        }

        .quantityLeftArrow {
            right: -2px;

            &:active {
                stroke: red
            }
        }

        .quantityRightArrow {
            left: -2px;

            &:active {
                stroke: rgb(0, 255, 0);
            }
        }

        input {
            background-color: rgb(82, 83, 82);
            width: 35px;
            height: 20px;
            border-radius: 10%;
            font-size: 13px;
            justify-content: center;
            text-align: center;
            color: white;
            background-color: rgb(6, 37, 42);
            border: 0.1vw solid white;
            cursor: pointer;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            &:focus {
                border-color: #00ff3c;
                outline: none;
            }

            &:hover {
                border-color: yellow;
            }

            &:hover:focus {
                border-color: #00ff3c;
            }
        }
    }
}

.cell {
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    border-bottom: 1px dotted yellow;
    box-sizing: border-box;
    word-break: break-word;

    &:first-child {
        border-left: 1px dotted yellow;
    }

    &:last-child {
        border-right: 1px dotted yellow;
        border-left: 1px dotted yellow;

    }

}

@media (max-width: 935px) {
    
    .cell {
        font-size: 14px;
    }
}

@media (max-width: 824px) {
    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 27px;
                width: 20px;
            }

            input {
                width: 30px;
                height: 17px;
                font-size: 13px;
            }
        }
    }

    .cell {
        font-size: 12px;
    }
}

@media (max-width: 703px) {

    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 30px;
                width: 20px;
            }

            input {

                font-size: 11px;
            }
        }
    }

    .cell {
        font-size: 10px;
    }
}


@media (max-width: 475px) {

    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 22px;
                width: 15px;
                left: 0;
                right: 0;
            }

            input {
                width: 22px;
                height: 14px;
                font-size: 10px;
            }
        }
    }

    .cell {
        font-size: 10px;
    }
}

@media (min-width: 1100px) {
    .orderedProduct {
        .quantityCell {

            .quantityLeftArrow,
            .quantityRightArrow {
                height: 62px;
                width: 55px;

            }

            input {
                width: 70px;
                height: 55px;
                font-size: 22px;
            }
        }
    }

    .cell {
        font-size: 22px;
    }
}
