.shippDetContainer {
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    border: 0.1vw solid white;
    box-sizing: border-box;
    height: 100%;
    padding: 2vw;
    padding-bottom: 2.5vw;
    padding-top: 2.5vw;

    label,
    input {
        width: 30vw;
        border-radius: 1vw;
        display: flex;
    }

    label {
        font-size: 1.2vw;
        color: white;
        margin-bottom: 0.3vw;
        margin-left: 0.5vw;
    }

    input {
        font-size: 1vw;
        background-color: rgb(15, 63, 71);
        color: white;
        padding: 0.3vw;
        margin-bottom: 1vw;
    }

    .errorMsg {
        color: red;
        font-size: 1vw;
        margin-bottom: 1vw;
        margin-left: 0.5vw;
        max-width: 32vw;
    }
}