html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

body {
  background-color: purple;
  overflow: hidden;
}

#root {
  display: flex;
  background-color: yellow;
  flex-direction: column;
}