html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

body {
  width: 100vw;
  background-color: purple;
}

#root {
  display: flex;
  position: relative;
  background-color: yellow;
}