.productInCartContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 9.5px;
    width: 96%;
    height: 16%;
    border: 1px solid rgb(12, 55, 62);
    max-width: 96%;

    &:hover {
        border: 1px solid rgb(0, 173, 179);

        .summaryContainer {
            .summaryTitle {
                .productName {
                    .nameWriting {
                        color: white;

                        &:hover {
                            color: rgb(0, 255, 0);
                        }
                    }
                }
            }
        }
    }

    .imageContainer {
        border-radius: 10px;
        display: flex;
        width: 30%;
        min-width: 30%;

        img {
            width: 100%;
            border-top-left-radius: 8.5px;
            border-bottom-left-radius: 8.5px;
        }
    }

    .summaryContainer {
        flex: 1;
        flex-direction: column;
        display: flex;
        border-top-right-radius: 8.5px;
        border-bottom-right-radius: 8.5px;
        max-width: 70%;

        .summaryTitle {
            height: 50%;
            align-items: center;
            justify-content: start;
            background-color: rgb(0, 173, 179);
            display: flex;
            border-top-right-radius: 8px;

            .quantityLeftArrow,
            .quantityRightArrow {
                position: relative;
                cursor: pointer;
                height: 100px;
                width: 8%;
                max-height: 90%;
                min-height: 60%;
                min-width: 8%;
                stroke: transparent;
                stroke-width: 15px;
                color: rgb(12, 55, 62);
                z-index: 900;
            }

            .quantityLeftArrow {
                right: -2px;

                &:hover {
                    stroke: red
                }

                &:active {
                    stroke: red
                }
            }

            .quantityRightArrow {
                left: -2px;

                &:hover {
                    stroke: rgb(0, 255, 0);
                }

                &:active {
                    stroke: rgb(0, 255, 0);
                }
            }

            input {
                background-color: rgb(82, 83, 82);
                width: 80px;
                min-width: 80px;
                height: 50px;
                max-height: 90%;
                min-height: 60%;
                border-radius: 10px;
                font-size: 28px;
                justify-content: center;
                text-align: center;
                color: white;
                background-color: rgb(12, 55, 62);
                border: 1px solid rgb(12, 55, 62);
                cursor: pointer;
                box-sizing: border-box;
                z-index: 1002;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &:focus {
                    border-color: #00ff3c;
                    outline: none;
                }

                &:hover {
                    border-color: #00ff3c;
                }

                &:hover:focus {
                    border-color: #00ff3c;
                }
            }

            .productName {
                flex: 1;
                color: black;
                display: flex;
                overflow: hidden;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .nameWriting {
                    font-family: Open Sans, sans-serif;
                    font-size: 24px;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;

                    &:hover {
                        color: white;
                    }
                }
            }

            .deletProductIcon {
                display: flex;
                justify-content: flex-end;
                align-self: flex-start;
                margin-top: 1%;
                margin-right: 1%;

                svg {
                    color: white;
                    font-size: 1.2rem;

                    &:hover {
                        color: red;
                    }
                }
            }
        }

        .totalSummary {
            height: 50%;
            display: flex;
            flex-direction: column;
            font-family: Open Sans, sans-serif;
            color: white;
            font-weight: 400;
            background-color: rgb(51, 51, 51);
            border-bottom-right-radius: 10px;
            align-items: flex-end;
            margin-right: 2%;

            .unitPriceInfo {
                flex: 2;
                display: flex;
                flex-grow: 1;
                font-size: 15px;
                color: rgb(172, 172, 172);
                align-items: flex-end;
                margin-bottom: 0%;
                margin-top: 5%;

            }

            .totalTitle {
                flex: 0.5;
                display: flex;
                font-size: 18px;
                align-items: flex-start;
                margin-top: 0%;
            }
        }
    }
}

@media (max-width: 2500px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    height: 80px;
                    width: 8%;
                    min-width: 8%;
                }

                input {
                    width: 70px;
                    height: 50px;
                    min-height: 60%;
                    font-size: 24px;
                    min-width: 70px;
                }

                .productName {
                    .nameWriting {
                        font-size: 20px;
                    }
                }
            }



            .totalSummary {
                .unitPriceInfo {
                    font-size: 15px;
                }

                .totalTitle {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 1900px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    height: 70px;
                    width: 13%;
                    min-width: 13%;
                }

                input {
                    width: 50px;
                    min-height: 60%;
                    font-size: 18px;
                    min-width: 50px;
                }

                .productName {
                    .nameWriting {
                        font-size: 16px;
                    }
                }
            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 14px;
                }

                .totalTitle {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    width: 17%;
                    min-width: 17%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    width: 12%;
                    min-width: 12%;
                }

                input {
                    width: 35px;
                    height: 50px;
                    min-height: 40%;
                    font-size: 15px;
                    min-width: 35px;
                }

                .productName {
                    .nameWriting {
                        font-size: 14px;
                    }
                }
            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 10px;
                }

                .totalTitle {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    height: 45px;
                    width: 8%;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    width: 11%;
                    min-width: 11%;
                }

                input {
                    width: 25px;
                    height: 30px;
                    font-size: 13px;
                    min-width: 35px;
                }

                .productName {
                    .nameWriting {
                        font-size: 12px;
                    }
                }
            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 9px;
                }

                .totalTitle {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    width: 10%;
                    min-width: 10%;
                }

                input {
                    width: 22px;
                    height: 30px;
                    font-size: 10px;
                    min-width: 20px;
                }

                .productName {
                    .nameWriting {
                        font-size: 10px;
                    }
                }
            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 9px;
                }

                .totalTitle {
                    font-size: 11px;
                }
            }
        }
    }
}


@media (max-height: 700px) {
    .productInCartContainer {
        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    width: 10%;
                    min-width: 10%;
                }

                input {
                    width: 22px;
                    height: 30px;
                    font-size: 10px;
                    min-width: 20px;
                }

                .productName {
                    .nameWriting {
                        font-size: 10px;
                    }
                }
            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 9px;
                }

                .totalTitle {
                    font-size: 11px;
                }
            }
        }
    }
}

@media (max-height: 400px) {
    .productInCartContainer {
        height: 30%;

        &:first-child {
            margin-top: 2%;
        }

        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    height: 6px;
                    width: 7%;
                    min-width: 7%;
                }

                input {
                    font-size: 7px;
                    width: 7%;
                    height: 70%;
                    min-width: 7%;
                }

                .productName {
                    .nameWriting {
                        font-size: 8px;
                    }
                }


            }

            .totalSummary {
                margin-right: 5%;

                .totalTitle {
                    font-size: 6px;
                }

            }
        }

    }
}

@media (max-height: 250px) {
    .productInCartContainer {
        height: 40%;



        .summaryContainer {
            .summaryTitle {

                .quantityLeftArrow,
                .quantityRightArrow {
                    height: 10px;
                    width: 10%;
                    min-width: 10%;
                }

                input {
                    font-size: 7px;
                    width: 12%;
                    min-width: 12%;
                }

                .productName {
                    .nameWriting {
                        font-size: 6px;
                    }
                }


            }

            .totalSummary {
                .unitPriceInfo {
                    font-size: 5px;
                    margin-top: 0%;

                }

                .totalTitle {
                    font-size: 6px;
                }
            }
        }

    }
}