.productInCartContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(51, 51, 51);
    border-radius: 0.7vw;
    width: 96%;
    height: 5vw;

    .imageContainer {
        height: 5vw;
        background-color: yellow;
        border-radius: 0.7vw;
        background-color: rgb(57, 224, 196);

        img {

            min-width: 8vw;
            min-height: 5vw;
            max-width: 8vw;
            max-height: 5vw;
            border-top-left-radius: 0.7vw;
            border-bottom-left-radius: 0.7vw;
        }
    }

    .summaryContainer {
        flex-direction: column;
        display: flex;
        flex: 1;
        border-top-right-radius: 0.7vw;
        border-bottom-right-radius: 0.7vw;
        background-color: white;

        .summaryTitle {
            height: 50%;
            align-items: center;
            justify-content: start;
            background-color: rgb(57, 224, 196);
            display: flex;

            .quantityLeftArrow,
            .quantityRightArrow {
                position: relative;
                cursor: pointer;
                height: 2vw;
                width: 2vw;
                stroke: white;
                stroke-width: 15px;
                color: rgb(6, 37, 42);
                z-index: 900;

                &:hover {
                    stroke: yellow;
                }
            }

            .quantityLeftArrow {
                right: -0.2vw;

                &:active {
                    stroke: red
                }
            }

            .quantityRightArrow {
                left: -0.2vw;

                &:active {
                    stroke: rgb(0, 255, 0);
                }
            }

            input {
                background-color: rgb(82, 83, 82);
                width: 2.7vw;
                height: 1.4vw;
                border-radius: 10%;
                font-size: 1vw;
                justify-content: center;
                text-align: center;
                color: white;
                background-color: rgb(6, 37, 42);
                border: 0.1vw solid white;
                cursor: pointer;
                z-index: 1002;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &:focus {
                    border-color: #00ff3c;
                    outline: none;
                }

                &:hover {
                    border-color: yellow;
                }

                &:hover:focus {
                    border-color: #00ff3c;
                }
            }

            .productName {
                font-family: Open Sans, sans-serif;
                line-height: 0.3vw;
                font-size: 1.1vw;
                font-weight: 400;
                color: white;
                cursor: pointer;
            }
        }

        .totalSummary {
            height: 50%;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-family: Open Sans, sans-serif;
            color: white;
            font-weight: 400;
            background-color: rgb(57, 224, 196);

            .totalTitle {
                display: flex;
                flex: 6;

                margin-left: 1vw;
                font-size: 1.5vw;
                width: 80%;
                cursor: pointer;
                justify-content: start;
            }

            .unitPriceInfo {
                display: flex;
                flex:1;
                font-size: 0.8vw;
                color: gray;
                justify-content: center;

            }

        }
    }
}